<div class="app-card-container", >
  <div class="card">
    
    <h4 class="aboutmetop"><u>About Me</u></h4>

    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "family.jpg", width: 300, alt: "profile image"%>
      </div>
      
      <div class="col-md-8">
        <p> Hey, I'm Griffin. I'm a developer in training! </p>
        <p> (The one on the far right ;)</p>
        
         <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#mainInterests"
            aria-expanded="false"
            aria-controler="mainInterests"
          >
            Skills and Interests
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="mainInterests">
            <div class="card card-block">
              Photography
            </div>
            <div class="card card-block">
              Photoshop
            </div>
            <div class="card card-block">
              3D Animation/Design
            </div>
            <div class="card card-block">
              Coding (Mainly Ruby on rails)
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Jr.High, Summit Academy Jr.High
            </div>
            <div class="card card-block">
              Alta High School ( Currently a sophmore)
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>


