<div class="app-card-container", style="color:white">
  
  <h1>Are you hiring?</h1>

<div class="row">
  <div class="col-md-6",>
    <h3>Mobile Phone Number</h3>
      <p><%= number_to_phone "385-272-3016"%></p>
    <h4>Email Me!</h4>
    
    <div class='demo-area'>
      <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
        <b>Copy To Clipboard...</b>
      </button>
      <h4>
        <label for='fe_text'>Change Copy Text Here</label>
      </h4>
      <textarea cols='50' id='fe_text' rows='3'>Copy me!</textarea>
      <h4>
        <label for='testarea'>Paste Text Here</label>
      </h4>
      <textarea cols='50' id='testarea' rows='3'></textarea>
      <p>
        <button id='clear-test'>Clear Test Area</button>
      </p>
    </div>
    <script>
      $(document).ready(function() {
        var clip = new ZeroClipboard($("#d_clip_button"))
      });
    
      $("#clear-test").on("click", function(){
        $("#fe_text").val("Copy me!");
        $("#testarea").val("");
      });
    </script>
    
      <p>2grifftastic@gmail.com</p>
  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24246.780294749347!2d-111.9151435!3d40.567044!3m2
    !1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbda582c936c38063!2sJordan+High+School!5e0!3m2!1sen!2sus!4v1500571929303" 
    width="450" height="300" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div>
</div>
  

